sprint/
private/
github_blog/
flow/
pair/
pre-sprint-javascript-koans/
typescript/
server_playground/
react/
vue/ 
codesandbox/
*node_modules/
*.code-workspace
project/
Osori/
open_server_practice/
Frontend-practice/
mini_side_project/
mk_homepage/
osorideploy/
git-page/
practice/
osoriClientOnly/