body {
    display: flex;
    flex-direction: column;
    background: white;
    width: 100vw;
    height: 100vh;
}
.items {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 500px;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
}
.button {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
}

.display {
    display: flex;
    flex: 1 0 0;
}
