* {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
    font-family: "monospace", cursive;
    color: #000;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    /* background-image: url("./sky-690293.jpg"); */
    /* background-size: cover; */
}

.area {
    display: flex;
    flex-direction: column;
    flex: 0 0 0;
}
.main_area {
    display: flex;
    flex-direction: column;
    flex: 3 0 0;
    /* text-align: center; */
    /* justify-content: center; */

    min-width: 500px;
    height: 300px;
}

.input_line {
    display: flex;
    flex-direction: row;
    width: 70%;
    min-width: 500px;
    flex: 0 0 auto;
    background: silver;
}

.input_title {
    text-align: right;
    padding-right: 10px;
    height: auto;
    flex: 1 0 0;
    margin-top: 5px;

    margin-bottom: 5px;
}
.input_area {
    flex: 1 0 0;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.input_desc {
    flex: 2 0 0;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.success::before {
    display: inline-block;
    margin-left: 5px;
    content: "\2713";
    font-size: 15px;
    text-align: center;
    background: green;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.fail::before {
    display: inline-block;
    margin-left: 5px;
    content: "\2716";
    font-size: 15px;
    text-align: center;
    color: red;
}
